@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

:root {
  --font-sans: var(--font-geist-sans);
  --brand-green: #23A455;
  --brand-green-light: #61CE70;
}

body {
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
